.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 25px;

  .archive {
    padding: 0 0px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 25px;
  }
  .models {
    position: relative;
    bottom: 0;
    padding: 0 25px;
    display: flex;
    gap: 100px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;

    .model {
      display: flex;
      width: 300px;
      .model-initials {
        display: flex;
        width: 100px;
        justify-content: space-between;
      }
      p {
        padding-left: 15px;
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 800px) {
  .archive {
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 25px;
  }
  .models {
    gap: 10px !important;
    flex-direction: column;
    padding-bottom: 30px !important;
    .model {
      width: 100%;
    }
  }
  .footer {
    display: none;
  }
}
