.main {
  height: 100% !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1rem;

  .content {
    transform: scale(1.05);
    width: 100%;
    height: 90%;
    position: absolute;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .slider {
      width: 100%;
      height: 90%;
      .swiper-slide {
        img {
          height: 100% !important;
          object-fit: contain;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .wide {
        background-color: green;
      }
    }
  }
  .details {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 40%;

    div {
      height: 100%;
      width: 100%;
    }

    .first {
      display: flex;
      justify-content: space-between;

      p {
        font-weight: bold;
      }
    }
    .second {
      padding: 0 20px;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    width: 40%;
    justify-content: flex-end;
  }
}
.box {
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.651);
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
  p {
    position: absolute;
    right: 20px;
    font-size: 50px;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  .pics-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
@media only screen and (max-width: 800px) {
  .main {
    .content {
      transform: scale(1.5);
      height: 85%;
    }
    .footer {
      display: none;
    }
    .details {
      position: absolute;
      bottom: 0px;
      left: 0;
      display: flex;
      width: 100%;
      padding: 10px;
      padding-left: 20px;

      div {
        height: 100%;
        width: 100%;
      }

      .first {
        display: flex;
        justify-content: flex-start;
        gap: 35px;
        p {
          font-weight: bold;
        }
        width: 100px;
      }
      .second {
        padding: 0 10px;
      }
      .third {
        display: none;
      }
    }
  }
}
