@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700;6..96,900&family=Calligraffitti&family=Gruppo&family=Heebo:wght@100;200;300;400;500&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/nqx8hpm.css");
.nav > div {
  width: 300px;
}
.nav {
  font-size: 1.2rem;
  line-height: 1rem;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  &-bars {
    display: none;
  }
  .logo {
    margin: 0;
    width: fit-content;
  }

  a {
    text-decoration: none;
    color: rgb(57, 57, 57);
  }
  &-mobile {
    display: none;
  }

  &-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 80px;

    .menu-item {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      .circle {
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: black;
        border-radius: 50%;
        border: 1px solid black;
        margin-top: 2px;
      }
      li {
        list-style: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transition: all 0.5s ease;
        position: relative;
        padding: 0;
        margin: 0;

        a {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          padding-left: 20px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .nav > div {
    width: 200px;
    z-index: 10;
  }
  .nav {
    .logo {
      font-size: 20px;
    }
    width: 100vw;
    &-bars {
      display: flex;
      flex-direction: column;
      gap: 6px;
      font-size: 30px;
      right: 30px;
      top: 23px;
      color: rgb(57, 57, 57);
      margin-left: 25px;
      div {
        background-color: rgb(57, 57, 57);
        width: 25px;
        height: 2px;
        border-radius: 5px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &-desktop {
      z-index: 10;
      padding-right: 25px;
      gap: 10px;
      width: 100%;
      .menu-item {
        padding: 0 5px;
        li {
          display: none;
        }
      }
    }
    &-mobile {
      z-index: 1;
      position: absolute;
      top: -15px;
      left: -15px;
      display: flex;
      width: 100%;
      height: 100vh;
      background-color: white;
      z-index: 5;
      justify-content: center;

      .menu-item {
        display: flex;
        align-items: center;
        padding: 0px 10px;
        gap: 10px;
        .circle {
          width: 10px;
          height: 10px;
          background-color: black;
          border-radius: 50%;
          border: 1px solid black;
        }
        li {
          list-style: none;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          transition: all 0.5s ease;
          position: relative;
          padding: 0;
          margin: 0;

          a {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
