* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  min-height: 100vh;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative !important;
}
h1 {
  font-family: "Inter";
}
.swiper-slide-visible {
  .text {
    display: none;
  }
}
a {
  text-decoration: none;
  color: #fff;
}
